<!DOCTYPE html>
<html  lang="en-AU">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quit Pathway</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/css/quitpath.css" rel="stylesheet">
    <link href="~/css/calcultor/calculator.css" rel="stylesheet" />
  
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">Quit Pathway</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Survey/Survey">Survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Benefit/BenefitsOfQuitting">Why Quit?</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="~/QuittingSupport/QuittingSupport">Quitting Support</a>
                        <div class="nav-link dropdown-content">
                            <a href="~/QuittingSupport/NicotineReplacements">Nicotine Replacements</a>
                            <a href="~/QuittingSupport/Medications">Medications</a>
                            <a href="~/QuittingSupport/SupportFromProfessionals">Support from Professionals</a>
                            <a href="~/QuittingSupport/OtherOptions">Other Options</a>
                            <a href="~/QuittingSupport/QuittingSupportOptions">Quitting Support Options</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style=" background-image: url('../../img/coins_bg.jpg');
">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Spending Calculator</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix" style="margin-left: 130px">
        <h6><a href="~/Home/Index">Home</a> &gt; Spending Calculator</h6>
    </div>
    <div class="container">

        <div class="calculator">
            <style>


                #fbuilder .fform h2 {
                    color: #000;
                    font-size: 28px;
                    font-weight: bold;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                #fbuilder, #fbuilder label,
                #fbuilder span {
                    font-size: 22px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                    #fbuilder input[type=number],
                    #fbuilder textarea,
                    #fbuilder select {
                        font-size: 20px;
                        font-weight: bold;
                        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    }

                .cp_cff_pastel #fbuilder .fields.section_breaks {
                    border: 0;
                    border-radius: 4px;
                    background: #d2d9dd;
                    padding-left: 10px;
                    padding-right: 10px;
                    max-height: 5px;
                }

                .cp_cff_pastel #fbuilder input[type=text],
                #fbuilder textarea,
                #fbuilder select {
                    font-size: 20px;
                    font-weight: bold;
                    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                }
            </style>
            <form name="cp_calculatedfieldsf_pform_1" id="cp_calculatedfieldsf_pform_1" action="?" method="post" enctype="multipart/form-data" class="">
                <input type="hidden" name="cp_calculatedfieldsf_id" value="6" />
                <pre style="display:none;"><!--noptimize-->
                <script src="~/Scripts/Calculator.js"></script>
    <!--/noptimize--></pre>
                <div id="fbuilder">
                    <div id="fbuilder_1">
                        <div id="formheader_1"></div>
                        <div id="fieldlist_1"></div>
                    </div>
                </div>
                <div class="clearer"></div>
            </form>
            <link rel='stylesheet' id='cpcff_stylepublic-css' href="~/css/calcultor/stylepublic.css" type='text/css' media='all' property="stylesheet" />
            <link rel='stylesheet' id='cpcff_jquery_ui-css' href="~/css/calcultor/jquery-ui-1.8.20.custom.css" type='text/css' media='all' property="stylesheet" />
            <link rel='stylesheet' id='cpcff_template_csscp_cff_pastel-css' href="~/css/calcultor/style.css" type='text/css' media='all' property="stylesheet" />
            @Scripts.Render("~/bundles/calculator")
            <link href="~/css/calcultor/stylepublic.css" rel="stylesheet" />
            <script type='text/javascript'>
                /* <![CDATA[ */
                var cp_calculatedfieldsf_fbuilder_config_1 = { "obj": "{\"pub\":true,\"identifier\":\"_1\",\"messages\":{\"required\":\"This field is required.\",\"email\":\"Please enter a valid email address.\",\"datemmddyyyy\":\"Please enter a valid date with this format(mm\\\/dd\\\/yyyy)\",\"dateddmmyyyy\":\"Please enter a valid date with this format(dd\\\/mm\\\/yyyy)\",\"number\":\"Please enter a valid number.\",\"digits\":\"Please enter only digits.\",\"max\":\"Please enter a value less than or equal to {0}.\",\"min\":\"Please enter a value greater than or equal to {0}.\",\"previous\":\"Previous\",\"next\":\"Next\",\"pageof\":\"Page {0} of {0}\",\"minlength\":\"Please enter at least {0} characters.\",\"maxlength\":\"Please enter no more than {0} characters.\",\"equalTo\":\"Please enter the same value again.\",\"accept\":\"Please enter a value with a valid extension.\",\"upload_size\":\"The file you've chosen is too big, maximum is {0} kB.\",\"phone\":\"Invalid phone number.\",\"currency\":\"Please enter a valid currency value.\"}}" };
                /* ]]> */
            </script>
            <script type='text/javascript' src='https://www.quitpathway1.tk/wp-content/plugins/calculated-fields-form/js/cache/all.js?ver=1.0.323'></script>



            <script type='text/javascript'>var divElement = document.getElementById('viz1568544432682'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

        </div>
    </div>
    
    <div class="card">
        <div align="center" style="margin: 15px 0 15px 0">
            <h6 style="font-size: 24px">
            Real time prediction of savings
                </h6>
        </div>
        <iframe src="https://simeonthomas2.shinyapps.io/Visualizations/" height="685">
        </iframe>
    </div>
    @*<div class="clearfix" style="margin-right: 230px">
            <a class="buttonCa float-right "style="font-size: 18px;width: 210px;" href="~/Calculator/Calculator">
            <span>Future Spending?</span></a>
        </div>*@
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Quit Pathway 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/clean-blog.js"></script>

</body>

</html>


<style>
   
    .columnc1 {
  float: left;
  width: 25%;
  padding: 10px;
 
}
.columnc2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
    .card {
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
         padding: 16px;
         background-color: #f1f1f1;
         margin-top:50px;
         width:70%;
         margin-left:15%;
         margin-right:15%;

    }
    header.masthead .site-heading {
        padding: 165px 0;
    }

    header.masthead {
        height: 400px;
    }

    .container {
        max-width: 1800px;
    }
</style>
