<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quit Pathway</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/css/quitpath.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">Quit Pathway</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Survey/Survey">Survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Benefit/BenefitsOfQuitting">Why Quit?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/QuitPlan/QuitPlan">Quitting Plan</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="~/QuittingSupport/QuittingSupport">Quitting Support</a>
                        <div class="nav-link dropdown-content">
                            <a href="~/QuittingSupport/NicotineReplacements">Nicotine Replacements</a>
                            <a href="~/QuittingSupport/Medications">Medications</a>
                            <a href="~/QuittingSupport/SupportFromProfessionals">Professional Support</a>
                            <a href="~/QuittingSupport/OtherOptions">Other Options</a>
                            <a href="~/QuittingSupport/QuittingSupportOptions">Smoking Interventions</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="        background-image: url('../../img/answer_bg.jpg');

">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Your Result</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix" style="margin-left: 130px ; margin-bottom: 30px">
        <span><a href="~/Home/Index">Home</a> &gt; <a href="~/Survey/Survey">Survey</a> &gt; <b>Result</b></span>
    </div>
    <!-- Main Content -->

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="elementor-element elementor-element-196d4f9 elementor-column elementor-col-50 elementor-top-column" data-id="196d4f9" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-5ecf0be elementor-widget elementor-widget-image" data-id="5ecf0be" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img width="300" src="../../img/Habit_bg.jpg" class="img-responsive center-block" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="post-title">
                            Habit
                        </h2>
                        <br>
                        <span class="STYLE24">You smoke mostly out of habit. Finding new activities to do during your usual smoking break times could help distract you from your cravings when you decide to quit.</span>
                    </div>
                </div>
                <hr>
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="~/Benefit/BenefitsOfQuitting">Quitting Benefits</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer class="foot1">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-2 mt-md-0 mt-4">

                    <!-- Content -->
                    <br>
                    <h5 class="text-uppercase">Quit Pathway</h5>
                    <p>Quit Smoking Have a Better Life</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-4">

                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">FINANCE</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/Calculator/Calculator">Spending Calculator</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">Survey</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/Survey/Survey">Survey</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">Why Quit</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/Benefit/BenefitsOfQuitting">Benefits of Quitting</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">Quitting Plan</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/QuitPlan/QuitPlan">Quitting Plan</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">QUITTING SUPPORT</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/QuittingSupport/NicotineReplacements">Nicotine Replacements</a>
                        </li>
                        <li>
                            <a href="~/QuittingSupport/Medications">Medications</a>
                        </li>
                        <li>
                            <a href="~/QuittingSupport/SupportFromProfessionals">Professional Support</a>
                        </li>
                        <li>
                            <a href="~/QuittingSupport/OtherOptions">Other Options</a>
                        </li>
                        <li>
                            <a href="~/QuittingSupport/QuittingSupportOptions">Smoking Interventions</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-4">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/clean-blog.js"></script>

</body>

</html>


<style>
    .foot1 {
        background-color: darkslateblue;
        color: snow;
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0px;
        padding: 0px;
    }


    header.masthead .site-heading {
        padding: 165px 0;
    }

    header.masthead {
        height: 400px;
    }

    .container {
        max-width: 1800px;
    }
</style>
