<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quit Pathway</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/css/clean-blog.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">Quit Pathway</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="~/QuittingSupport/QuittingSupport">Quitting Support</a>
                        <div class="nav-link dropdown-content">
                            <a href="~/NicotineReplacements/NicotineReplacements">Nicotine Replacements</a>
                            <a href="~/Medications/Medications">Medications</a>
                            <a href="~/SupportFromProfessionals/SupportFromProfessionals">Support from Professionals</a>
                            <a href="~/OtherOptions/OtherOptions">Other Options</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Survey/Survey">Survey</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="post.html">Sample Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="        background-image: url('../../img/QuittingSupport-SupportFromProfessionals-image.jpg');
">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Survey</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix" style="margin-left: 130px ; margin-bottom: 30px">
        <h6><a href="~/Home/Index">Home</a> &gt; Survey</h6>
    </div>
    <!-- Main Content -->
    @*<div class="container">
        <div class="question-wrap">
            <div class="question fs-18">
                Question
            </div>
            <hr>
            <div class="options">
                <div class="option-label">A</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio"></div>
                </div>
                <div class="option-label">B</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio selected"></div>
                </div>
                <div class="option-label">C</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="question-wrap">
            <div class="question fs-18">
                Question
            </div>
            <hr>
            <div class="options">
                <div class="option-label">A</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio"></div>
                </div>
                <div class="option-label">B</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio selected"></div>
                </div>
                <div class="option-label">C</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="question-wrap">
            <div class="question fs-18">
                Question
            </div>
            <hr>
            <div class="options">
                <div class="option-label">A</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio"></div>
                </div>
                <div class="option-label">B</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio selected"></div>
                </div>
                <div class="option-label">C</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="question-wrap">
            <div class="question fs-18">
                Question
            </div>
            <hr>
            <div class="options">
                <div class="option-label">A</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio"></div>
                </div>
                <div class="option-label">B</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio selected"></div>
                </div>
                <div class="option-label">C</div>
                <div class="option-radio flex flex--middle">
                    <div class="radio"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="action-wrap flex">
            <a class="btn submit btn-primary" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Submit</a>
        </div>
        </div>
        <hr>
    *@

    <form name="form1" method="post" action="/mensa/common_submit_hr/disc_submit_hr.asp" onsubmit="return form_check();">

        <table width="100%" border="0" class="9p">
            <!--DWLayoutTable-->




            <tbody>
                <tr>
                    ‘
                    <td height="24" class="STYLE22">
                        <a name="the1tijuanbiao"></a><br><br>

                        <span class="STYLE36">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b>Question 1. When are you most likely to smoke?</b><br><br>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="1a1"><input name="the1ti" type="radio" value="A" id="1a1">A. I smoke when I feel stressed</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="1a2"><input name="the1ti" type="radio" value="B" id="1a2">B. I smoke when I am with friends</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="1a3"><input type="radio" name="the1ti" value="C" id="1a3">C. I smoke when I need an energy boost</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="1a4"><input type="radio" name="the1ti" value="D" id="1a4">D. I smoke when I feel a craving</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="1a5"><input type="radio" name="the1ti" value="A" id="1a5">E. I smoke when I feel sad or worried</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="1a6"><input type="radio" name="the1ti" value="E" id="1a6">F. I smoke when I am bored</label>
                    </td>
                </tr>

                <tr>
                    <td height="24" class="STYLE22">
                        <a name="the2tijuanbiao"></a><br><br>

                        <span class="STYLE36">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b>Question 2. Which one best describes your view of your smoking?</b><br><br>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="2a1"><input name="the2ti" type="radio" value="C" id="2a1">A. Smoking is a treat</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="2a2"><input name="the2ti" type="radio" value="A" id="2a2">B. Smoking makes me feel better</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="2a3"><input type="radio" name="the2ti" value="D" id="2a3">C. Smoking is a habit I don’t think about</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="2a4"><input type="radio" name="the2ti" value="B" id="2a4">D. Smoking is part of going out with friends</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="2a5"><input type="radio" name="the1ti" value="A" id="2a5">E. Smoking is something I can’t stop doing</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="2a6"><input type="radio" name="the1ti" value="E" id="2a6">F. Smoking keeps my hands busy</label>
                    </td>
                </tr>

                <tr>
                    <td height="24" class="STYLE22">
                        <a name="the3tijuanbiao"></a><br><br>

                        <span class="STYLE36">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b>Question 3. When are you most likely to feel a craving to smoke?</b><br><br>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="3a1"><input name="the3ti" type="radio" value="A" id="3a1">A. When I am stressed</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="3a2"><input name="the3ti" type="radio" value="B" id="3a2">B. When I need a boost</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="3a3"><input type="radio" name="the3ti" value="C" id="3a3">C. When I am bored</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="3a4"><input type="radio" name="the3ti" value="D" id="3a4">D. When I need a distraction</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="3a5"><input type="radio" name="the3ti" value="E" id="3a4">E. When I need something to do with my hands</label>
                    </td>
                </tr>


                <tr>
                    <td height="24" class="STYLE22">
                        <a name="the4tijuanbiao"></a><br><br>

                        <span class="STYLE36">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b>Question 4</b><br><br>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="4a1"><input name="the4ti" type="radio" value="A" id="4a1">A. </label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="4a2"><input name="the4ti" type="radio" value="B" id="4a2">B.</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="4a3"><input type="radio" name="the4ti" value="C" id="4a3">C.</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="4a4"><input type="radio" name="the4ti" value="D" id="4a4">D.</label>
                    </td>
                </tr>


                <tr>
                    <td height="24" class="STYLE22">
                        <a name="the5tijuanbiao"></a><br><br>

                        <span class="STYLE36">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b>Question 5</b><br><br>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="5a1"><input name="the5ti" type="radio" value="A" id="5a1">A. </label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="5a2"><input name="the5ti" type="radio" value="B" id="5a2">B.</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="5a3"><input type="radio" name="the5ti" value="D" id="5a3">C.</label>
                    </td>
                </tr>
                <tr>
                    <td height="20" valign="top" class="STYLE22">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="green button" for="5a4"><input type="radio" name="the5ti" value="C" id="5a4">D.</label>
                    </td>
                </tr>


                <tr>
                    <td align="center" height="50" class="STYLE22">
                        <p>
                            <br><br>
                            <input type="submit" class="blue button" name="Submit" value="  Submit　">
                        </p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Quit Pathway 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/clean-blog.js"></script>

</body>

</html>


<style>
    header.masthead .site-heading {
        padding: 165px 0;
    }

    header.masthead {
        height: 400px;
    }

    .container {
        max-width: 1800px;
    }
</style>
