<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quit Pathway</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/css/quitpath.css" rel="stylesheet">
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn2')) {
                var dropdowns = document.getElementsByClassName("dropdown-content2");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">Quit Pathway</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Survey/Survey">Survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Benefit/BenefitsOfQuitting">Why Quit?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/QuitPlan/QuitPlan" style="color: #c9c9c9">Quitting Plan</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="~/QuittingSupport/QuittingSupport">Quitting Support</a>
                        <div class="nav-link dropdown-content">
                            <a href="~/QuittingSupport/NicotineReplacements">Nicotine Replacements</a>
                            <a href="~/QuittingSupport/Medications">Medications</a>
                            <a href="~/QuittingSupport/SupportFromProfessionals">Professional Support</a>
                            <a href="~/QuittingSupport/OtherOptions">Other Options</a>
                            <a href="~/QuittingSupport/QuittingSupportOptions">Smoking Interventions</a>
                        </div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="post.html">Sample Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../img/quitplan.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Quitting Plan</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix" style="margin-left: 130px ; margin-bottom: 30px">
        <span><a href="~/Home/Index">Home</a> &gt; <b>Quitting Plan</b></span>
    </div>
    <!-- Main Content -->
    

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Quit Pathway 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/clean-blog.js"></script>

</body>

</html>


<style>
    .dropbtn2 {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

    .dropbtn2:hover, .dropbtn2:focus {
     background-color: #2980B9;
    }

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown2 a:hover {background-color: #ddd;}

.show {display: block;}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    header.masthead .site-heading {
        padding: 165px 0;
    }

    header.masthead {
        height: 400px;
    }

    .container {
        max-width: 1800px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 30px 30px 30px 30px;
        background-color: #f1f1f1;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>
