<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quit Pathway</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/css/quitpath.css" rel="stylesheet">
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn2')) {
                var dropdowns = document.getElementsByClassName("dropdown-content2");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">Quit Pathway</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Calculator/Calculator">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Survey/Survey">Survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Benefit/BenefitsOfQuitting">Why Quit?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/QuitPlan/QuitPlan" style="color: #c9c9c9">Quitting Plan</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="~/QuittingSupport/QuittingSupport">Quitting Support</a>
                        <div class="nav-link dropdown-content">
                            <a href="~/QuittingSupport/NicotineReplacements">Nicotine Replacements</a>
                            <a href="~/QuittingSupport/Medications">Medications</a>
                            <a href="~/QuittingSupport/SupportFromProfessionals">Professional Support</a>
                            <a href="~/QuittingSupport/OtherOptions">Other Options</a>
                            <a href="~/QuittingSupport/QuittingSupportOptions">Smoking Interventions</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../img/quitplan.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Quitting Plan</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix" style="margin-left: 130px ; margin-bottom: 30px">
        <span><a href="~/Home/Index">Home</a> &gt; <a href="~/Quitplan/Quitplan">Quitting plan</a> &gt; <b>6 Months</b></span>
    </div>
    <br><br>
    <!-- Main Content -->

    <script src="//my.visme.co/visme.js"></script>
    <div class="visme_d" data-url="76pwgz37-6month-plan" data-w="800" data-h="2740" data-domain="my"></div>
    <br><br>
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="~/QuittingSupport/QuittingSupport">Quitting Support</a>
        </div>
    </div>
    <br><br>
    <!-- Footer -->
    <footer class="foot1">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-2 mt-md-0 mt-4">

                    <!-- Content -->
                    <br>
                    <h4 class="text-uppercase">Quit Pathway</h4>
                    <h6>Quit Smoking Have a Better Life</h6>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-4">

                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">FINANCE</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/Calculator/Calculator" style="font-size:smaller; color:white">Spending Calculator</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">Survey</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/Survey/Survey" style="font-size:smaller; color:white">Survey</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">Why Quit</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/Benefit/BenefitsOfQuitting" style="font-size:smaller; color:white">Benefits of Quitting</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">Quitting Plan</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/QuitPlan/QuitPlan" style="font-size:smaller; color:white">Quitting Plan</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mb-md-0 mb-4">

                    <!-- Links -->
                    <br><br>
                    <h5 class="text-uppercase">QUITTING SUPPORT</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="~/QuittingSupport/NicotineReplacements" style="font-size:smaller; color:white">Nicotine Replacements</a>
                        </li>
                        <li>
                            <a href="~/QuittingSupport/Medications" style="font-size:smaller; color:white">Medications</a>
                        </li>
                        <li>
                            <a href="~/QuittingSupport/SupportFromProfessionals" style="font-size:smaller; color:white">Professional Support</a>
                        </li>
                        <li>
                            <a href="~/QuittingSupport/OtherOptions" style="font-size:smaller; color:white">Other Options</a>
                        </li>
                        <li>
                            <a href="~/QuittingSupport/QuittingSupportOptions" style="font-size:smaller; color:white">Smoking Interventions</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-4">
            © 2019 Copyright:
            <a style=" color:white "> www.quitpathway.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/clean-blog.js"></script>

</body>

</html>


<style>
    .foot1 {
        background-color: #3c404d;
        color: snow;
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    .dropbtn2 {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn2:hover, .dropbtn2:focus {
            background-color: #2980B9;
        }

    .dropdown2 {
        position: relative;
        display: inline-block;
    }

    .dropdown-content2 {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content2 a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown2 a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    header.masthead .site-heading {
        padding: 165px 0;
    }

    header.masthead {
        height: 400px;
    }

    .container {
        max-width: 1800px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 30px 30px 30px 30px;
        background-color: #f1f1f1;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>
